.container{
    padding: 6px;
    padding-left: 0px;
    padding-right: 0px;
    border-top: 1px solid rgb(73, 73, 73);
    border-bottom: 1px solid rgb(73, 73, 73);
    display: flex;
    align-items: center;
    max-width: 1400px;
    height: 150px;
}

